doctype
html
	head
		meta(name="description" content="{{meta_description}}") 
		meta(name="HandheldFriendly" content="True")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		// link(rel="shortcut icon" href="{{asset "favicon.ico"}}")
		link(rel="stylesheet" type="text/css" src="assets/css/styles.css")
	body
		footer
		script(type="text/javascript" src="assets/js/main.js")
		script(type="text/javascript" src="assets/js/jquery.min.js")