doctype
html
	include includes/development
	body
		.full-container
			img(src="http://placehold.it/2000x350")
		.main-container
			h1.inline hey
			h2.inline hey
			h3.inline hey
			h4.inline hey
			h5.inline hey
			h6.inline hey
			.container
				.half-container
					p Lorem ipsum Fugiat culpa nisi Excepteur consequat magna do anim.
				.half-container
					p Lorem ipsum Fugiat culpa nisi Excepteur consequat magna do anim.
			.container
				.third-container.center
					p Lorem ipsum Esse anim eu ullamco quis voluptate qui cillum labore nostrud pariatur occaecat.

				.third-container.center
					p Lorem ipsum Esse anim eu ullamco quis voluptate qui cillum labore nostrud pariatur occaecat.

				.third-container.center
					p Lorem ipsum Esse anim eu ullamco quis voluptate qui cillum labore nostrud pariatur occaecat.
				.third-container.center
					p Lorem ipsum Esse anim eu ullamco quis voluptate qui cillum labore nostrud pariatur occaecat.

				.third-container.center
					p Lorem ipsum Esse anim eu ullamco quis voluptate qui cillum labore nostrud pariatur occaecat.

				.third-container.center
					p Lorem ipsum Esse anim eu ullamco quis voluptate qui cillum labore nostrud pariatur occaecat.
